* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  // align-items: center;

  font-family: "Inter", sans-serif;
}

#header {
  
background-color: white;
padding: 10px 0;
margin-bottom: 30px;
position: fixed;
width: 100%;
top: 0;
z-index: 99999;
  .header-container {
    width: 90%;
  margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // gap: 50px;
    font-size: 18px;
    align-items: center;
    // margin: 15px 0;

    .header-container-left {
      .header-container-left-logo {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      display: flex;
      gap: 25px;
      align-items: center;

      .header-logo {
      }

      .header-popop {
        button {
          border: 1px solid #4b009b;
          border-radius: 10px;
          background-color: white;
          padding: 13px;
          color: #4b009b;
          transition: 0.7s;
          cursor: pointer;
          //   font-family: 'Charm', cursive;
          //   font-family: 'Courier Prime', monospace;
          //   font-family: 'Lobster', sans-serif;
          //   font-family: 'Poppins', sans-serif;
          //   font-family: 'Roboto Slab', serif;
          font-weight: 700;

          &:hover {
            background-color: #4b009b;
            color: white;
          }
        }
      }
    }

    .header-container-center {
      ul {
        display: flex;
        gap: 60px;
        align-items: center;

        li {
          display: flex;
          gap: 5px;
          color: #4b009b;
          cursor: pointer;

          a {
            color: #4b009b;

            b {
              font-size: 13px;
            }
          }
        }
      }
    }

    .Icon {
      a {
        font-size: 25px;
      }
    }

    .header-container-right {
      .BasketMenu {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        cursor: pointer;

        .basket {
          width: 30px;
          height: 3px;
          background-color: #4b009b;
          transition: 0.6s;
        }
        .basket-center{
          width: 20px;

        }
      }
    }
  }
}
.MenuText {
  // .MenuBackround {
    transition: 0.6s;
    content: "";
    width: 280px;
    // height: 200px;
    padding: 20px 0;
    background-color: #4b009b;
    position: absolute;
    // left: 0;
    right: 0;
    top: 85px;
    z-index: 4;
    transform-origin: right;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    a{
      color: white;
      margin: 0;
    }
  }
// }
.hidden {
  transform: scaleX(0);
}
.basketActive {
  transition: 0.5s;
  .basket-left {
    transform: rotate(45deg) translate(0px, -1px);
  }

  .basket-center {
    display: none;
  }

  .basket-right {
    transform: rotate(-45deg) translate(5px, -4px);
  }
}
.oferflow {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(44, 24, 24, 0.5);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popopCity {
  display: flex;
  justify-content: center;

  .All-container {
    border-radius: 15px;
    position: fixed;
    z-index: 120;
    background: white;
    width: 500px;
    overflow-y: scroll;
    max-height: 90%;
    top: 20px;
    min-height: 200px;

    .PopopCity-container {
      padding: 25px 70px;

      // width: 500px;
      .popopLogo {
        display: flex;
        margin-bottom: 30px;

        .popopName {
          display: flex;
          justify-content: space-between;
          width: 100%;

          h3 {
            display: flex;
            justify-content: center;
            width: 100%;
            color: #4b009b;
            font-size: 25px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              height: 1px;
              background-color: gray;
              opacity: 0.4;
              width: 55px;
              top: 30px;
            }
          }

          // span {

          // }
        }
      }

      .popopCategory {
        display: flex;
        justify-content: center;

        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 120px;
          row-gap: 30px;

          li {
            span {
              font-size: 20px;
              font-weight: 600;
              color: #313b40;
              cursor: pointer;
              transition: 0.4s;

              &:hover {
                width: max-content;
                padding: 5px;
                border: 2px solid #4b009b;
                color: #4b009b;
                border-radius: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.activeCity {
  width: max-content;
  padding: 5px;
  border: 2px solid #4b009b;
  color: #4b009b;
  border-radius: 8px;
}

.swiper-pagination-bullet {
  background: white;
  transform-origin: left;
  transition: 0.8s;
}

.swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 8px;
  background-color: white;
  transform: scaleX(1);
}

.Mark-X {
  background: #4b009b;
  padding: 3px 10px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 24px;
  font-weight: 700;

  &:hover {
    opacity: 0.8;
  }
}
.scrool{
  margin-top: 80px;
}
.Scool-container {
  padding: 20px 20px 70px 20px;

  .ScroolName {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
   

    h3 {
      color: #4b009b;
      font-size: 30px;
    }
  }

  .ScroolCategory {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

svg {
  path {
    cursor: pointer;
    stroke: rgb(255, 255, 255);
    stroke-width: 1;

    &:hover {
      stroke: rgb(89, 0, 255);
    }
  }
}

#Map {
  width: 80%;
  margin: 0 auto;

  .Map-container {
    position: relative;
    margin-top: 80px;

    .Map-container-top {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;

      h3 {
        color: #4b009b;
        font-size: 30px;
      }
    }

    .Map-container-center {
      width: 1000px;
      margin: 0 auto;
    }

    .Map-container-end {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      ul {
        display: flex;
        gap: 45px;

        li {
          display: flex;
          gap: 5px;
          font-size: 19px;

          span {
            padding: 0 10px;
          }
        }
      }
    }
  }
}

#MapPopop {
  display: flex;
  justify-content: center;

  .MapPopop-container {
    border: 1px solid #ccc;
    padding: 5px;
    padding-bottom: 20px;
    // position: relative;
    position: absolute;
    top: 55px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;

    .Mappopop-mark {
      display: flex;
      justify-content: flex-end;

      span {
        padding: 1px 5px;
        background-color: #6f33af;
        color: #fff;
        font-size: 19px;
        font-weight: 900;

        &:hover {
          opacity: 0.6;
        }

        cursor: pointer;
      }
    }

    .MapPopop-word {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;

      h3 {
        color: #4b009b;
        font-size: 22px;
      }

      p {
        strong {
          color: #8e44b5;
          font-size: 15px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  }
}

#Kampaniyalar {
  margin-top: 30px;
  background-color: #2d373c;
  padding-bottom: 30px;

  .Kampaniyalar-container {
    width: 80%;
    margin: 0 auto;
    color: white;

    .Kampaniyalar-logo {
      padding-top: 50px;

      h3 {
        font-size: 30px;
        text-align: center;
      }
    }

    .Kampaniyalar-word {
      display: flex;
      flex-direction: column;
      row-gap: 33px;

      .Kampaniyalar-secim {
        margin-top: 30px;

        ul {
          display: flex;
          justify-content: center;
          gap: 7px;
          position: relative;

          li {
            cursor: pointer;
            transition: 0.7s;
            padding: 8px 13px;

            &:hover {
              background: rgb(239, 229, 229);
              color: #2d373c;
              border-radius: 7px 7px 0px 0px;
            }
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            bottom: 0;
            left: 0;
          }
        }
      }

      .Kampaniyalar-data {
        // margin-top: 30px;
        .Kampaniyalar-item {
          display: flex;
          background: #2d373c;
          width: 400px;
          height: 70px;
          border: 2px solid white;
          border-radius: 14px;
          justify-content: space-between;
          padding: 0 30px;
          align-items: center;
          transition: 0.8s;

          .Kampaniyalar-item-left {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 35px;
              cursor: pointer;
              transition: 0.8s;

              &:hover {
                opacity: 0.8;
              }
            }

            p {
              cursor: context-menu;
            }
          }

          .Kampaniyalar-item-right {
          }

          &:hover {
            transform: scale(0.9);
          }
        }
      }

      .Kampaniyalar-arxiv {
        text-align: center;
        // margin-top: 50px;
      }
    }
  }
}

.arxiv-category {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;

  img {
    background-color: #4b009b;
    padding: 10px;
    border-radius: 5px;
    max-height: 50px;
    max-width: 30px;
  }

  a {
    border-bottom: 1px dotted #2d373c;

    &:hover {
      border-bottom: 1px solid #4b009b;
      color: #4b009b;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #b7baba;
    bottom: -9px;
  }
}

.ArxiveItem {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .arxiveText {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    p {
    }
  }

  .arxiveTable {
    table {
      width: 85%;
      margin: 0 auto;

      tr {
        // background: red;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &:hover {
          background-color: rgb(222, 219, 219);
        }
      }
    }
  }

  .arxiveQeydiyat {
    a {
      color: #2d373c;
      border-bottom: 1px dotted #2d373c;

      &:hover {
        border-bottom: 1px solid #4b009b;
        color: #4b009b;
      }
    }
  }
}

.underline {
  cursor: pointer;
  position: relative;
  width: max-content;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.6s;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

#Xidmətlər {
  .Xidmetler {
    margin-top: 50px;

    .Xidmetler-logo {
      margin: 50px 0;
      text-align: center;
      font-size: 30px;
      color: #4b009b;
    }

    .Xidmetler-container {
      display: flex;
      justify-content: space-evenly;

      .XidmetlerItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s;
        gap: 20px;
        height: 200px;
        width: 250px;
        border: 2px solid transparent;
        border-radius: 25px;
        padding: 25px 0;
        cursor: pointer;

        img {
        }

        a {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            background-color: rgb(0, 0, 0);
            bottom: -2px;
            left: 0;
            transform-origin: left;
            transform: scaleX(0);
            transition: 0.6s;
          }
        }

        &:hover {
          border: 2px solid #4b009b;
          transform: scale(0.9);

          a {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}

.XidmetlerItem-Popop {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  p {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 50px;
    }

    table {
      width: 90%;
      margin: 0 auto;

      tr {
        // border-bottom: 1px solid #ccc;
        display: flex;
        padding: 5px 10px;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        height: 40px;
        align-items: center;

        &:hover {
          background-color: #ccc;
        }

        td {
          width: 100px;
        }

        span {
          display: flex;
          align-items: center;
          font-size: 18px;
          gap: 10px;

          img {
            width: 30px;
          }

          a {
          }
        }
      }
    }
  }
}

.doshed {
  color: #000;
  border-bottom: 1px dotted;
  transition: 0.4s;

  &:hover {
    border-bottom: 1px solid #4b009b;
    color: #4b009b;
  }
}

#FiberOptik {
  background-image: url(https://azeronline.com/public/frontend/images/bgfiberoptics.jpg);
  background-position: 50% 20%;
  background-size: cover;
  margin-top: 40px;
  .FiberOptik-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;

    .FiberOptik-logo {
      h3 {
        text-align: center;
        font-size: 40px;
        color: white;
        font-weight: 700;
        padding: 40px 0;
      }
    }

    .FiberOptik-word {
      display: flex;
      flex-direction: column;
      row-gap: 45px;
      .FiberOptik-secim {
        ul {
          display: flex;
          justify-content: center;
          gap: 10px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            bottom: 0;
            left: 0;
          }

          li {
            color: white;
            font-size: 22px;
            padding: 10px 15px;
            transition: 0.6s;
            cursor: pointer;
            &:hover {
              background-color: white;
              color: #2d373c !important;
              border-radius: 7px 7px 0px 0px;
            }
          }
        }
      }

      .FiberOptik-sertler {
        margin-top: 20px;
        h3,
        a {
          text-align: center;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}
.FiberOptik-data {
  display: grid;
  column-gap: 15px;

  .fiberobtikData-item {
    position: relative;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 30px 0;
    text-align: center;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.05);
    }
    h3 {
      font-size: 25px;
      color: white;
    }

    .FiberOptik-button {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      background: white;
      width: 50%;
      margin: 0 auto;
      border-radius: 8px;
      padding: 8px;

      span {
        color: #4b009b;
      }

      .number {
        font-size: 25px;

        font-weight: 800;
      }
    }

    .price {
      font-size: 25px;
      color: white;
    }

    .Ətraflı {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: -8px;
      width: 100%;
      cursor: pointer;

      span {
        background: white;
        width: 50%;
        padding: 5px 0;
        border-radius: 5px;
        color: #4b009b;
        font-weight: 600;
      }
    }

    &:hover {
      background-color: white;

      h3,
      p {
        color: #4b009b;
      }

      .FiberOptik-button,
      span {
        background-color: #4b009b;
        color: white;
      }
    }
  }
}
.fiberOptikaItemPopop {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #323e4f;
  font-size: 19px;

  p {
  }

  .fiberOptikText {
    span {
      text-decoration: underline;
    }
  }

  .fiberOptikToll {
    span {
    }

    b {
    }
  }

  a {
    border-bottom: 1px dotted;
    transition: 0.4s;
    width: max-content;
    color: #323e4f;

    &:hover {
      border-bottom: 1px solid;
      color: #4b009b;
    }
  }
  .SimsimCity {
    line-height: 27px;
    strong {
      text-decoration: underline;
    }
  }
}

.activeCategoryWhite {
  background-color: white;
  color: #2d373c !important ;
  border-radius: 7px 7px 0px 0px;
}
#Simsim {
  margin-top: 50px;
  padding: 40px 0;
  .Simsim-container {
    width: 80%;
    margin: 0 auto;
    .Simsim-logo {
      h3 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
        color: #4b009b;
      }
    }
    .Simsim-word {
    }

    .Simsim-item {
      position: relative;
      background-color: transparent;
      border: 2px solid #4b009b;
      border-radius: 5px;
      padding: 30px 0;
      text-align: center;
      transition: all 0.25s;
      display: flex;
      flex-direction: column;
      row-gap: 35px;
      transition: 0.5s;

      h3 {
        font-size: 25px;
        color: #4b009b;
      }

      .Simsim-button {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        background: #4b009b;
        width: 50%;
        margin: 0 auto;
        border-radius: 8px;
        padding: 8px;

        span {
          color: white;
        }

        .number {
          font-size: 25px;

          font-weight: 800;
        }
      }

      .price {
        font-size: 25px;
        color: #4b009b;
      }
      &:hover {
        transform: scale(1.05);
        background-color: #4b009b;
        border: 2px white;
        h3 {
          color: white;
        }
        .Simsim-button {
          background: white;
          span {
            color: #4b009b;
          }
        }
        .price {
          color: white;
        }
      }
    }
  }
}
.activeCategoryBlack {
  background-color: #4b009b;
  color: white !important;
}
.Simsim-secim {
  margin-bottom: 40px;
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #4b009b;
      bottom: 0;
      left: 0;
    }

    li {
      color: #4b009b;
      font-size: 22px;
      padding: 10px 15px;
      transition: 0.6s;
      cursor: pointer;
      &:hover {
        background-color: #4b009b;
        color: white !important;
        border-radius: 7px 7px 0px 0px;
      }
    }
  }
}
.SimsimPopop-pading {
  padding: 20px 0;
}
.SimsimSertler {
  font-size: 20px;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  color: #4b009b;
}
.underlineB {
  cursor: pointer;
  position: relative;
  width: max-content;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4b009b;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.6s;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: none;
}

#IPTV {
  background-color: #eee;
  padding-top: 80px;
  padding-bottom: 40px;
  .IPTV {
    width: 80%;
    margin: 0 auto;
    .IPTV-container {
      display: flex;
      flex-direction: column;
      row-gap: 100px;
      .IPTV-container-top {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        .IPTV-word {
          text-align: center;

          h3 {
            font-size: 40px;
            color: #4b009b;
            margin-bottom: 40px;
          }
          p {
            font-size: 20px;
            font-weight: 700;
          }
        }
        .IPTV-images {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          column-gap: 30px;
          row-gap: 15px;
          .IPTV-item {
            width: 120px;
            cursor: pointer;
            // padding: 10px;
            img {
              width: 100%;
              transition: 0.6s;
              &:hover {
                transform: scale(0.7);
              }
            }
          }
        }
        .IPTV-Kanal {
          display: flex;
          justify-content: center;
          h3 {
            font-size: 25px;
            display: flex;
            justify-content: center;
            color: #4b009b;
          }
        }
      }
      .IPTV-container-bottom {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        .IPTVType-data {
          display: flex;
          justify-content: center;
          gap: 50px;
          .IPTVItemFerdi-data {
            border: 2px solid white;
            background: #4b009b;
            color: white;
            padding: 20px;
            width: 200px;
            height: 250px;
            text-align: center;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            border-radius: 15px;
            transition: 0.7s;
            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
            h3 {
              font-size: 23px;
            }
            .IPTVItem-button {
              position: relative;
              h5 {
                border: 1px solid;
                height: 110px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                font-size: 30px;
                color: #4b009b;
                background: white;
                width: 150px;
                margin: 0 auto;
              }
              .IPTVPosition {
                position: absolute;
                top: -24px;
                left: 50px;
                background: #bb4a97;
                border-radius: 10px;
                width: 94px;
                display: flex;
                flex-direction: column;
                font-size: 12px;
                height: 50px;
                justify-content: center;
                border: 1px solid;
                srtong {
                  font-size: 21px;
                  font-weight: 600;
                }
              }
            }
          }
          .IPTV-price {
            font-size: 25px;
            font-weight: 700;
          }
          .IPTVItemBiznes-data {
            border: 2px solid #4b009b;
            padding: 20px;
            width: 200px;
            height: 250px;
            background: white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 25px;
            transition: 0.7s;
            color: #4b009b;
            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
            .BiznesTiatle {
              position: relative;
              h5 {
                border: 3px solid #cccccc;
                font-size: 20px;
                padding: 0 15px;
                width: 120px;
                margin: 0 auto;
                text-align: center;
                height: 160px;
                border-radius: 14px;
                display: flex;
                align-items: center;
              }
              .BiznesTop {
                position: absolute;
                top: -18px;
                left: 15px;
                background: #bb4a97;
                border-radius: 6px;
                color: white;
                width: 80%;
                text-align: center;
                font-size: 23px;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
            }
          }
        }
        .IPTV-sertler {
          margin-top: 40px;
          h3 {
            font-size: 25px;
            color: #4b009b;
          }
        }
      }
    }
  }
}
.IptvPopop-container {
  .IptvitemPopop {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #2d373c;
    &:last-of-type {
      border-bottom: 1px solid #ffffff;
    }
  }
}
.IPTVSerlerItem {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  .fiberOptikText {
    span {
      text-decoration: underline;
    }
  }
}
#ADSL {
  .ADSL {
    background-color: #565656;
    .ADSL-container {
      display: flex;
      flex-direction: column;
      row-gap: 45px;
      width: 80%;
      margin: 0 auto;
      padding: 50px 0;
      .ADSL-Logo {
        text-align: center;
        font-size: 30px;
        color: white;
      }
      .ADSL-Data {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .ADSL-dataItem {
          border: 2px solid white;
          width: 200px;
          height: 200px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 20px;
          transition: 0.6s;
          .ADSL-dataItemButton {
            background-color: white;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            padding: 5px;
            width: 90px;
            border-radius: 7px;
            color: #4b009b;
            strong {
              font-size: 25px;
              font-weight: 700;
            }
            p {
              font-size: 13px;
            }
          }
          .ADSL-price {
            font-size: 22px;
            font-weight: 600;
            color: white;
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.07);
          }
        }
      }
      .ADSL-sertler {
        text-align: center;
        font-size: 18px;
        color: white;
        h3 {
        }
      }
    }
  }
}
.ADSlPopop-container {
  width: 80%;
  margin: 0 auto;
  .ADSLPopop-table {
    table {
      width: 100%;
      tr {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        transition: 0.6s;
        border-bottom: 1px solid #565656;
        padding: 5px 0;
        &:hover {
          background-color: #ccc;
          cursor: pointer;
        }
        &:last-child {
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .ADSLPopop-word {
    line-height: 35px;
  }
}

#Korporativ {
  background-color: #2d373c;
  padding: 50px 0;
  // .Korporativ{
  .Korporativ-container {
    .Korporativ-logo {
      text-align: center;
      font-size: 35px;
      color: white;
      margin-bottom: 50px;
      h3 {
      }
    }
    .Korporativ-categories {
      display: flex;
      flex-direction: column;
      row-gap: 35px;
      color: #cccccc;
      .Korporativ-category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px 25px;
        width: 75%;
        margin: 0 auto;
        transition: 0.6s;
        .Korporativ-category-left {
          display: flex;
          align-items: center;
          gap: 30px;
          img {
            width: 50px;
          }
          h3 {
          }
        }
        .Korporativ-category-right {
          p {
          }
        }
        &:hover {
          transform: scale(0.94);
        }
      }
    }
  }
  // }
}
.KorporativPopop-container {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  p {
    a {
      border-bottom: 1px dashed blue;

      &:hover {
        border-bottom: 1px solid blue;
      }
    }
  }
}
#Loyallıq {
  background-image: url(https://azeronline.com/public/frontend/images/bgloyalty.jpg);

  background-color: #4b009b;
  background-position: 50% 10%;
  background-size: cover;
  .Loyaliq-container {
    padding: 50px 0 25px 0;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    .Loyaliq-logo {
      text-align: center;
      font-size: 35px;
      color: white;
    }
    .Loyaliq-data {
      font-size: 22px;
      color: white;
    }
  }
}
.LoyaliqPopop-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  .LoyaliqPopop-item {
    align-items: center;
    font-size: 20px;
    display: flex;
    gap: 10px;
    img {
      width: 35px;
    }
  
  }
}
.dashed {
  border-bottom: 1px dashed;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid #4b009b;
    color: #4b009b;
  }
}
.LoyaliqPopopItem {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  .LoyaligItemtext {
  }
}
.Loyaliqtable {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  p {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &:hover {
      background-color: rgb(247, 240, 240);
    }
  }
}
#Odenis {
  .Odenis {
    background-color: #eee;
    .Odenis-container {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      padding-bottom: 50px;

      .Odenis-logo {
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
        color: #4b009b;
      }
      .Odenis-data {
        display: flex;
        justify-content: center;
        gap: 20px;
        img {
          background-color: #fff;
          border: 2px solid #ddd;
          border-radius: 20px;
          max-height: 65px;
          min-width: 50px;
          min-height: 65px;
          padding: 15px;
          box-sizing: border-box;
          transition: 0.5s;
          &:hover {
            transform: scale(0.9);
            opacity: 0.6;
            cursor: pointer;
          }
        }
      }
      .Odenis-arxiv {
        h3 {
          color: #4b009b;
        }
      }
    }
  }
}
.OdenisDataItem-container {
  line-height: 25px;
}
.OdenisItem-container {
  line-height: 25px;
  .OdenisItem-underline {
    .dashed-container {
      display: inline-flex;
      gap: 15px;
      .dashed {
        color: #4b009b;
      }
    }
  }
}
#footer {
  .footer {
    padding: 50px 0 80px 0;
    background-color: #4b009b;
    &__container {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      color: white;
    }
    &__top {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      border-bottom: 1px solid white;
      padding-bottom: 60px;
      &--logo {
        img {
        }
      }
      &--word {
        p {
        }
      }
      &--category {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        li {
          span {
          }
          a {
            color: white;
            transition: 0.5s;
            margin: 0;
            &:hover {
              color: blue;
            }
          }
        }
      }
    }
    &__button {
      &--category {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        .categoryFooter {
          display: flex;
          gap: 15px;
          justify-content: center;
          a {
            color: white;
            transition: 0.5s;
            margin: 0;
            &:hover {
              color: blue;
            }
          }
        }
        li {
          span {
          }
        }
      }
    }
  }
}
// .Login{
.from-container {
  background-color: #e4e6ef;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  .registr-card {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 20px 0;
    h1 {
      color: #4b009b;
      font-size: 27px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
    .registr-card-body {
      .form-container {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .form-group {
          width: 250px;
          box-sizing: border-box;
          .form {
            display: flex;
            .form-left {
              padding: 7px 10px;
              background-color: #4b009b;
              color: white;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
              }
            }
            .form-right {
              width: 100%;
              position: relative;
              input {
                width: 100%;
                box-sizing: border-box;
                padding: 8px 32px 8px 10px;
              }
              .eye {
                position: absolute;
                right: 0px;
                top: 0px;
                background: #4b009b;
                color: white;
                width: 30px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
// }
.BorderActiveFalse {
  border: 1.5px solid red;
}
.BorderActiveTrue {
  border: 1.5px solid green;
}
.registr-card-footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.btn-primary {
  background-color: #4b009b;
  color: #fff;
  width: 100%;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-danger {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 12px;
}
.Daire-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  p {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 30px;
    }
  }
}
.categoryesLink {
  border-top: 2px solid white;
  padding-top: 50px;
  margin-top: 20px;
  ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    li {
      margin: 0;
      color: white;
      font-size: 20px;
      a {
        color: white;
      }
    }
  }
}
.categoryesLinkB {
  border-color: #4b009b;
  li {
    color: #4b009b !important;
    a {
      color: #4b009b !important;
    }
  }
}

.AdslDaire {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 10px;
    top: 55px;
    left: 0;
  }
}
.ScroolTop{
  background: rgb(0, 91, 226);
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 99999;
  bottom: 50px;
  left: 30px;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: .6s;
  svg{
    height: 100%;
  }
}
.scale{
  transform: scale(0);
}
// .elage-container-name {
//   h1 {
//     font-size: 56px;
//     color: white;
//     font-weight: 700;
//   }
// }
.rsc-container {
  position: fixed !important;
  right: 56px !important;
  bottom: 90px !important;
  height: 500px !important;
  width: 33% !important;
}
.fBGGBn {
  min-height: auto !important;
  max-height: calc(490px - 112px) !important;
}
.chatbots-container{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: rgb(0, 91, 226);
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 17px;
  p {
    img {
      position: absolute;
      cursor: pointer;
      width: 50px;
    }
  }

}
.sexsi{
  background: #3c0c70;
  width: 200px;
  display: flex;
  gap: 14px !important;
  box-sizing: border-box;
  height: 40px;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  color: white !important;
  position: relative;
}
.kabinet-gizli {
  position: absolute;
  top: 41px;
  background: #3c0c70;
  width: 100%;
  height: 40px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  z-index: 999;
  strong{
    font-size: 14px;
  }
}